@import '../../../../styles/variables.scss';

.this_day {
    box-shadow: $box-shadow;
    border-radius: 20px;
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
}

.temp {
    font-size: 96px;
    line-height: 117.02px;
    font-weight: 500;
    color: $blue;
    max-width: fit-content;
    margin: 0 auto;
}

.title {
    font-size: 40px;
    line-height: 48.76px;
    color: #000;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.time, .location {
    font-size: 20px;
}

.location {
    margin: 10px 0px 0px 0px;
}