@import "../../styles/variables.scss";

.blur {
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 200;
    background-color: #f3f0f0;
}

.popup {
    width: 500px;
    height: 200px;
    border-radius: $border-radius;
    background-color: #fff;
    z-index: 201;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 250px);
    box-shadow: $box-shadow;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70%;
    justify-content: space-between;
}

.button {
    display: flex;
    background-color: $blue;
    color: #fff;
    width: 120px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: $border-radius;
}

.input {
    -webkit-box-shadow: 2px 1px 8px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 2px 1px 8px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 2px 1px 8px 4px rgba(34, 60, 80, 0.2);
    text-align: center;
    height: 40px;
    border-radius: $border-radius;
    font-size: 24px;
}

.none{display: none;}