.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.city_name {
    font-size: 22px;
    display: flex;
    justify-content: start;
}

.set {
    min-width: 90%;
}
